@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- General Rules ------- */

* {
    @apply box-border m-0 p-0;
}

body {
    @apply flex flex-col min-h-screen;
    @apply bg-dark text-white font-barlow font-normal text-sm;
}

main {
    @apply flex flex-col flex-grow items-center justify-center py-4;
}

.header-fixed {
    @apply mt-20;
}

a {
    @apply text-white no-underline;
}

.cst-tr {
    transition: 0.2s;
}

.center {
    @apply flex justify-center items-center;
}

.fire-gradient {
    background: linear-gradient(10deg, #ff8000, transparent) #ff4020;
}

/* ------- Custom Button ------- */

.custom-button {
    -webkit-appearance: none;
    @apply text-lg font-bold;
    @apply box-border inline-flex justify-center items-center cursor-pointer cst-tr;
    @apply fire-gradient hover:bg-fire-hover text-center border-0 rounded-lg whitespace-normal;
}

/* ------ Custom Auth Styles ------ */

.auth-form {
    @apply flex flex-col flex-grow items-center justify-center px-4 w-full max-w-[500px];
}

.auth-form-input {
    @apply items-center justify-center ps-4 pe-4 w-[80%] h-[50px] cst-tr;
    @apply text-base rounded-2xl bg-medium-dark border-2 border-white focus:border-primary outline-none;
}

.auth-form-button {
    @apply custom-button rounded-lg text-center text-xl w-[80%] h-[50px];
}

/* ----- Profile Page ----- */

.profile-div {
    @apply flex flex-col flex-grow space-y-6 w-full max-w-[500px];
}

.profile-icon {
    @apply w-64 h-64 rounded-full;
}

div.profile-div span {
    @apply text-xl;
}

div.profile-div a {
    @apply text-xl hover:text-primary cst-tr;
}

/* ----- Edit Profile Page ----- */

.edit-profile-icon {
    @apply w-44 h-44;
}

/* ----- Admin Dashboard Page ----- */

.admin-dashboard {
    @apply flex flex-col items-start justify-center gap-4;
}

.admin-dashboard span {
    @apply text-2xl font-audio;
}

.admin-dashboard a {
    @apply text-lg text-white hover:text-primary cst-tr;
}

/* ----- Admin User Management Page ----- */

th {
    @apply px-4 py-3 text-left text-sm text-dark uppercase tracking-wider;
}

.users-row, .products-row {
    @apply odd:bg-light even:bg-very-light;
}

tr.users-row td {
    @apply pl-4 text-dark text-base whitespace-nowrap cst-tr;
}

.view-profile-button, .edit-profile-button, .order-history-button {
    @apply text-blue-600 hover:text-blue-800;
}

.block-user-button, .delete-user-button, .toggle-visibility-button {
    @apply text-red-600 hover:text-red-800;
}

/* ----- TOAST ----- */

.toast-container {
    @apply fixed bottom-5 right-5 z-50 flex flex-col gap-2;
}

.toast {
    @apply flex items-center justify-between cst-tr;
    @apply rounded-2xl px-3 pt-2 pb-2.5 w-full max-w-[400px];
}

.toast-icon {
    @apply flex justify-center items-center w-10 h-10 rounded-full;
}

.toast-icon-svg {
    mask-size: 100%;
    mask-repeat: no-repeat;
    @apply bg-white h-5 w-5;
}

.toast-close {
    @apply flex justify-center items-center cursor-pointer;
}

.toast-close-svg {
    @apply h-6 w-6 opacity-70 hover:scale-105 cst-tr;
}

/* Toast Success */

.toast-success {
    @apply border-2 border-[#88E59B] bg-[#F1F8F4];
}

.toast-success .toast-icon {
    @apply bg-[#50DC6C];
}

.toast-success .toast-icon-svg {
    mask-image: url(../images/icons/check.svg);
    -webkit-mask-image: url(../images/icons/check.svg);
}

/* Toast Warning */

.toast-warning {
    @apply border-2 border-[#fdd36e] bg-[#fef8eb];
}

.toast-warning .toast-icon {
    @apply bg-[#fec022];
}

.toast-warning .toast-icon-svg {
    mask-image: url(../images/icons/warning.svg);
    -webkit-mask-image: url(../images/icons/warning.svg);
}

/* Toast Error */

.toast-error {
    @apply border-2 border-[#fa8c8a] bg-[#fbefeb];
}

.toast-error .toast-icon {
    @apply bg-[#fc5758];
}

.toast-error .toast-icon-svg {
    mask-image: url(../images/icons/error.svg);
    -webkit-mask-image: url(../images/icons/error.svg);
}

/* ------- Forms Styles ------- */

.input-big{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3  ;
}

.input-dropbox{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 ;

}

/* ------ Custom Widgets ------ */

.hover-scale {
    @apply hover:scale-105 transition-transform duration-300 ease-in-out;
}

.address-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-3 ;
}


/* ----- Paginator ----- */

.paginator {
    @apply flex items-center justify-between w-full;
}

.paginator-button {
    @apply flex items-center justify-center;
    @apply h-12 w-[120px] text-base font-medium rounded-lg cst-tr;
    @apply bg-medium hover:bg-medium-light text-white border border-light;
}
