@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- General Rules ------- */

* {
    @apply box-border m-0 p-0;
}

body {
    @apply flex flex-col min-h-screen;
    @apply bg-dark text-white font-barlow font-normal text-sm;
}

main {
    @apply flex flex-col flex-grow items-center justify-center mt-20 py-4;
}

a {
    @apply text-white no-underline;
}

.cst-tr {
    transition: 0.2s;
}

.center {
    @apply flex justify-center items-center;
}

.fire-gradient {
    background: linear-gradient(10deg, #ff8000, transparent) #ff4020;
}

/* ------- Custom Button ------- */

.custom-button {
    -webkit-appearance: none;
    @apply text-lg font-bold;
    @apply box-border inline-flex justify-center items-center cursor-pointer cst-tr;
    @apply fire-gradient hover:bg-fire-hover text-center border-0 rounded-lg whitespace-normal;
}

/* ------ Custom Auth Styles ------ */

.auth-form {
    @apply flex flex-col flex-grow items-center justify-center px-4 w-full max-w-[500px];
}

.auth-form-input {
    @apply items-center justify-center ps-4 pe-4 w-[80%] h-[50px] cst-tr;
    @apply text-base rounded-2xl bg-medium-dark border-2 border-white focus:border-primary outline-none;
}

.auth-form-button {
    @apply custom-button rounded-lg text-center text-xl w-[80%] h-[50px];
}

/* ----- Profile Page ----- */

.profile-div {
    @apply flex flex-col flex-grow space-y-6 w-full max-w-[500px];
}

.profile-icon {
    @apply w-64 h-64 rounded-full;
}

div.profile-div span {
    @apply text-xl;
}

div.profile-div a {
    @apply text-xl hover:text-primary cst-tr;
}

/* ----- Edit Profile Page ----- */

.edit-profile-icon {
    @apply w-44 h-44;
}

/* ----- Edit Users Page ----- */

.users-row {
    @apply odd:bg-light even:bg-very-light;
}

tr.users-row td {
    @apply text-very-dark text-sm whitespace-nowrap px-6 py-4;
}












/* ------- Forms Styles ------- */

.input-big{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3  ;
}

.input-dropbox{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 ;

}

th {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider;
}

/* ------ Custom Widgets ------ */

.hover-scale {
    @apply hover:scale-105 transition-transform duration-300 ease-in-out;
}

.address-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-3 ;
}
